.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background: #282b30;
  // gap: 10px;

  .category {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 10vh;
    font-weight: 100;
    cursor: pointer;
    &:hover {
      background-color: darken(#282b30, 2%);
    }
  }
}
