header {
  display: flex;
  height: 80px;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    background: #000000;
    flex: 1;
  }

  .header-right {
    display: flex;
    gap: 40px;
  }

  span {
    font-weight: 600;
    font-size: 28px;
    cursor: pointer;
  }

  .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #ebebeb;
    border: none;
    border-radius: 15px;
    width: 230px;
    flex-wrap: 1;

    input {
      border: none;
      border-radius: 15px;
      padding: 10px;
      // width: 40px;
      flex-grow: 1;

      background: transparent;
    }

    button {
      display: flex;
      align-items: center;
      border: none;
      border-radius: 15px;
      padding: 8px;
      background-color: #ebebeb;
      cursor: pointer;

      &:hover {
        background-color: #fff;
      }
    }
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    li {
      padding: 5px;
      display: flex;
      align-items: center;
      cursor: pointer;

      .nav {
        &:hover {
          background-color: darken(#ffffff, 8%);
        }
      }
    }
  }
}
