.product-container {
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
  justify-content: space-between;

  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(0.98);
  }
  // align-items: flex-start;

  // padding-top: 10px;
  width: 250px;
  height: 350px;
  cursor: pointer;
  border-radius: 10px;
  color: #1d1d1d;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

  .info {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;

    .quick-info {
      display: flex;
      flex-direction: column;
    }
  }

  img {
    padding-left: 15px;
    padding-right: 15px;
    height: 280px;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }
}
