@import './components/header';
@import './components/categories';
@import './components/productBlock';

* {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #fff;
  background: #424549;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  background: #424549;
}

.aside-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1d1d1d;
  padding: 10px;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
}

aside {
  flex: 0.1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

section {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
}

footer {
  background: #7289da;
}

.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 15px;
  padding-bottom: 15px;

  box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.5);
}
